.blog-section-block .blog-section-featured {
  position: relative;
}

.blog-section-block .blog-section-asterisk {
  pointer-events: none;
}

.blog-section-block .blog-section-card {
  color: inherit;
}

.blog-section-block .blog-section-card-image {
  overflow: hidden;
}

.blog-section-block .blog-section-card-category--pink {
  background-color: #f2c8f7;
}
