.blog-section-block .blog-section-featured {
  position: relative;
}

.blog-section-block .blog-section-asterisk {
  pointer-events: none;
}

.blog-section-block .blog-section-card {
  color: inherit;
  transition: background-color 0.3s ease;
}

.blog-section-block .blog-section-card-image {
  overflow: hidden;
}

.blog-section-block .blog-section-card-category {
  transition: background-color 0.3s ease;
}

.blog-section-block .blog-section-card:hover {
  background-color: var(--color-off-white);
}

.blog-section-block .blog-section-card:hover .blog-section-card-category {
  background-color: var(--color-pink);
}
